<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/device.css">

    <!-- Sidebar css -->
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/style5.css">




</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>IoT System Manager</h3>
            </div>

            <br />
            <i>
                <h5>Xin chào, <%=username %> !</h5>
            </i>
            <ul class="list-unstyled components">
                <li>
                    <a href="/manager">Home</a>
                </li>
                <li>
                    <a href="/user/manager">Quản lý user</a>
                </li>

                <li class="active">
                    <a href="device" data-toggle="collapse" aria-expanded="false">Quản lý thiết bị</a>
                </li>

                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="/logout">Đăng xuất</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!--
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                        -->
                    </div>
                </div>
            </nav>
            <div class="container">
                <h1>Đây là quản lý thiết bị</h1>
                <div class="table-dht">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <h3>STT</h3>
                                </th>
                                <th scope="col">
                                    <h3>Thiết bị</h3>
                                </th>
                                <th scope="col">
                                    <h3>Trạng thái</h3>
                                </th>
                                <th scope="col">
                                    <h3>Secret key</h3>
                                </th>
                                <th scope="col">
                                    <h3>Tùy chọn</h3>
                                </th>
                            </tr>
                        </thead>



                        <tbody id="list-devices">
                            <!--EJS-->
                            <% for(var i=0;i<devices.length;i++){ %>
                                <div>
                                    <tr class="<%=devices[i].id%> ">

                                        <th scope="row">
                                            <h5>
                                                <%=i+1 %>
                                            </h5>
                                        </th>
                                        <td>
                                            <%=devices[i].name %>
                                        </td>

                                        <td class="status-device">
                                            No Connect
                                        </td>

                                        <td>
                                            <div>
                                                <%=devices[i].id %>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary">
                                                <p class="btn-delete-label">Chi tiết</p>
                                            </button>
                                            <a href="#">
                                                <button type="button" class="btn btn-danger">
                                                    <p class="btn-delete-label">Delete</p>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </div>
                                <% } %>
                                    <!--END-->
                        </tbody>
                    </table>
                </div>
                <!--Add User-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Thêm thiết bị
                </button>

                <div class="list-devices-data">
                    <% for(var i=0;i<devices.length;i++){ %>
                        <div class="device-data data-<%=devices[i].id%>" >Data <%=devices[i].name%> :</div>
                        <% } %> 
                </div>
            </div>
        </div>

    </div>

    <!-- Button trigger modal -->


    <!-- Modal add user -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Thêm thiết bị mới</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/device/create" , method="POST">
                        <div class="form-group">
                            <label for="Usename">Tên thiết bị</label>
                            <input type="usename" class="form-control" id="usename" name="name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
    </div>
    <!--End Modal add user-->

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const token = document.cookie
            .split('; ')
            .find(row => row.startsWith('token='))
            .split('=')[1];
        console.log('Token:', token);

        const socket = io('/webapp', {
            reconnectionDelayMax: 10000,
            query: {
                token: token
            }
        });

        socket.on('device-online', (data) => {
            if (data) {
                const devices = document.getElementById("list-devices");

                for (var i = 0; i < devices.childElementCount; i++) {
                    const className = devices.children[i].className;
                    const result = searchIdInData(className, data);
                    if (result) {
                        const statusDevice = devices.children[i].getElementsByClassName('status-device');
                        statusDevice[0].innerHTML = "Connected"
                    }
                    else {
                        const statusDevice = devices.children[i].getElementsByClassName('status-device');
                        statusDevice[0].innerHTML = "No Connect";
                    }
                }
            }
        })

        socket.on('devive-data', (data) => {
           const className = "data-" + data.id;
           const element = document.getElementsByClassName(className);
           element[0].innerHTML = JSON.stringify(data.data);

        });

        const searchIdInData = (id, data) => {
            let result = false;
            const str1 = id;
            for (let i = 0; i < data.length; i++) {
                if (str1.indexOf(data[i].deviceId) == 0) {
                    result = true;
                    break;
                }
            }
            return result
        }

    </script>

</body>

</html>